<div class="row">
  <div class="col-md-6">
    <%= f.input :referrer_business_name, required: true, label: 'Business name', input_html: { autocomplete: 'nope' } %>
  </div>
  <div class="col-md-6">
    <%= f.input :referrer_name, required: true, label: 'Referrer name', input_html: { autocomplete: 'nope' } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :referrer_email, required: true, label: 'Email', input_html: { autocomplete: 'nope' } %>
  </div>
  <div class="col-md-6">
    <%= f.input :referrer_phone, required: true, label: 'Phone', input_html: { autocomplete: 'nope' } %>
  </div>
</div>