<br>
<section>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Save time with Zapier Automations</h4>
        </div>
      <div class="panel-body">
        <p>At Tracksy, we want to make your clinic admin simple.</p>
        <p>Face it, you don’t get paid for clinic administration, and data entry is often pointless and always time-consuming.  Therefore, we’ve decided to offer partners a list of time-saving Zapier automations specifically tailored for use in their clinics.</p>
        <p>For those not familiar, Zapier is an American company that specializes in web-based applications integration.  “The easiest way to automate your work.” is its home page slogan. You can actually create Zapier workflows on your own for free.  However, if you don't want to be bothered with the details, Tracksy's skilled Zapier developers can help you get the job done.</p>
        <p>Below we've provided a few examples, although anything is possible.</p>
        <p>We offer fixed price options, often $99 AUD or less, for common yet vital integration jobs.  Tell us what you need, and we will promptly deliver an accurate quote.</p>
      </div>
    </div>
  </div>
</section>


<section class="content">
  <div class="box-table">
    <table class="table-flat table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="25%"> <strong>Send New Clients a Welcome Questionnaire.</strong></td>
          <td width="50%">
            <p>Sometimes it’s hard to capture contact details accurately on the phone.  Mistakes do happen, so why not
              consider sending new clients a welcome questionnaire?  As a follow-up, you can e-mail them and check
              details once they edit incorrect answers.  Notifications can take the form of an e-mail or SMS (text
              message).</p>
              <p>A variation of this theme is to send a welcome e-mail to new contacts.  Often when adding new patients,
                you might want to convey various details about invoicing and other processes.</p>
                <p>You are now in position to automate this process and consequently save a lot of time.</p>
          </td>
          <td width="25%"> <p>Easy development</p> <p>1-2 hours</p> </td>
        </tr>
        <tr>
          <td width="25%"> <strong>Send New Clients an Injury Questionnaire.</strong> </td>
          <td width="50%"> <p>As a long-time healthcare practitioner myself, I don’t like being unprepared.  At the same time, I don’t like treatment notes, and consequently welcome anything a client can provide to save time.  That's why I am a big fan of injury questionnaires where you can ask specific injury and/or illness questions upfront.</p>
                          <p>Clients will provide you with the necessary information, and notification can be provided via either e-mail or SMS.  Results can be uploaded to client attachments.</p>  </td>
          <td width="25%">  <p>Easy development</p> <p>1-2 hours</p>  </td>
        </tr>
        <tr>
          <td width="25%"> <strong>Send Invoiced Clients a Satisfaction Survey.</strong> </td>
          <td width="50%"> <p>Throughout my time as a physiotherapist and clinic owner, I’ve always obsessed about quality of care.  I've had many a discussion with practitioners in the field about maintaining the highest standards possible.  Often to no avail.</p>
                            <p>To bring clients into the conversation, I suggest you send them a survey once they have received treatment.  We recommend basic functionality in the survey, i.e. a five-star rating system for questions followed by a short comment section in the application.  Keep things simple by using e-mail, a questionnaire template, or form.</p>
                          <p>Alternatively, you can use a survey system like Survey Monkey in case you require something more in-depth. I suggest you send the survey after an invoice or payment is created, but consider limiting the number sent to avoid information overload and excess administration.</p> </td>
          <td width="25%">  <p>Easy development</p> <p>1-2 hours</p>  </td>
        </tr>
        <tr>
          <td width="25%"> <strong>Send new client a consent form with required signature.</strong> </td>
          <td width="50%"> <p>Getting legal consent from insurance companies (e.g. Medico Insurance) is a complex task.   In response, some clinics give clients a ready-made consent form that often requires a signature.   We can provide a quick and easy version, after which you'll need to get clients to give you a physical paper signature (N.B. Electronic signatures are also possible with services like DocuSign).</p> </td>
          <td width="25%"> <p>Medium development</p> <p>3-4 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Automatically send invoice pdf when created</strong> </td>
          <td width="50%"> <p>It's standard practice these days to send client invoices in PDF format after receiving payments.  Most clients are eligible to claim rebates, often through their health insurance providers.</p>
                            <p>Unfortunately, we cannot automate this feature within the Tracksy app right now, because many clients have third-party funding which makes things confusing. However, we can setup Zapier automation for you. When an invoice is created, we immediately send the PDF to the client's e-mail.</p> </td>
          <td width="25%"><p>Easy development</p> <p>1-2 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Automatically post client pdf invoice by mail.</strong>  </td>
          <td width="50%"> <p>Today, many people (notably, but not exclusively, seniors) don’t use e-mail.  In this case you must send the physical invoice by post.   Attaching the e-mail post@zapier.com to clients tells us that this should be posted the old fashion way.</p> <p>We will send the invoice to the client's address at a cost of about $0.90 USD per page.  A hassle, perhaps, although when you consider the overall time and effort, it's still worth it.</p> </td>
          <td width="25%"><p>Medium development</p> <p>3-4 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Sending SMS Reminders to Practitioners, Clients when Tasks are created.</strong> </td>
          <td width="50%"> <p>We know that health practitioners forget things from time to time, and that a few don't look at their e-mail.  In these cases, you can give reminders via SMS, e.g. “Call Mary Smith”.</p>  </td>
          <td width="25%"><p>Easy development</p> <p>1-2 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Send client an additional reminder one hour before appointment</strong> </td>
          <td width="50%"> <p>We recommend sending clients a reminder one hour before their appointment to ensure that they are home during the agreed upon service period.  Just imagine how annoying it would be for mobile practitioners to arrive at a house, only to discover that nobody is at home!  To avoid this situation, send clients an email or SMS notification before the appointment.</p></td>
          <td width="25%"><p>Easy development</p> <p>1-2 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Automated Home Phone Message Reminders.</strong> </td>
          <td width="50%"> <p>Alternatively, you can create an automatic recorded message and have it sent one hour before the client's appointment. e.g. “Hi, this is an automatic reminder from Amazing Physiotherapy.  Your appointment is scheduled between 11am and 1pm.” While some consider telephone messages overkill, I am aware of at least two (2) clinics that use phone reminders.</p> </td>
          <td width="25%"><p>Medium development</p> <p>4-5 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Outstanding Invoice Reminders.</strong> </td>
          <td width="50%"> <p>I really don’t like dealing with outstanding invoices, because third parties and clients should be aware of payment deadlines.  However, they remain a fact of life. You could automate the invoice reminder process by sending clients an e-mail or SMS.  Keep things simple – remind them how much do they owe you and politely ask to promptly pay the outstanding amount.</p> </td>
          <td width="25%"><p>Medium development</p> <p>3-4 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>E-Mail Reminders to Practitioners to Complete Treatment Notes.</strong> </td>
          <td width="50%"> <p>Writing treatment notes is a tedious, mind-numbing yet necessary exercise for allied health professionals.   Even though practitioners can usually recall client details, the notes are still important, especially for organizations like Medico Legal. We all need a gentle reminder from time to time, so why not send practitioners a weekly message about the treatment notes?  </p> </td>
          <td width="25%"><p>Medium development</p> <p>3-4 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Integrate Stripe Charges and Xero Invoices (Accounting).</strong> </td>
          <td width="50%"> <p>It's good practice to make seemingly disparate applications “talk” to each other.  In particular when it comes to various fees and charges.  With Zapier, you can have an integration that sends the bank fees to Xero (a well-established cloud-based accounting software for small and medium-sized businesses) so that it knows how much Stripe has charged you.</p> </td>
          <td width="25%"><p>Medium development</p> <p>3-4 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>E-mail Notification of Stripe Payment Deposits.</strong> </td>
          <td width="50%"> <p>We all like to keep track of our cashflow, i.e. when a customer has completed payment, and when the money has been deposited in the bank account. You can create an e-mail on every Stripe deposit that tells you how much money has come in and also identifies the payment source. </p> </td>
          <td width="25%"><p>Easy development</p> <p>1-2 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Thank You E-Mails to Customers after each Payment.</strong> </td>
          <td width="50%"> <p>Many practitioners like adding a short 'Thank You' note on the bottom of invoices.  We at Tracksy have this function, although you may want to personalise your thank you e-mails. This can be customized for all types of invoices.</p> </td>
          <td width="25%"><p>Easy development</p> <p>1-2 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Track Exact Appointment Durations.</strong> </td>
          <td width="50%"> <p>Tracksy has a number of home nursing clients for whom the difference between a twenty and twenty-one minute appointment is significant. We have set up an integration scheme with Harvest time tracking and reporting software that provides a precise time of appointment that may prove useful for some situations.</p> </td>
          <td width="25%"><p>Medium development</p> <p>3-4 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Sending Letters or Account Statements to Contacts via Fax.</strong> </td>
          <td width="50%"> <p>Although increasingly rare in business, people still occasionally need a fax.  You can add fax@zapier.com to those contacts that may benefit from this service. When you send an e-mail to them, a fax is generated (N.B. we have the fax number stored in the contact's file).   If you cannot send e-mails to a client, it gets a little more complex.  You will need to tell us the number within the e-mail.</p> </td>
          <td width="25%"><p>Medium development</p> <p>3-4 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Automatic Reminders to Clients who don't have Repeat Appointments.</strong> </td>
          <td width="50%"> <p>On occasion, clients will forget to make a repeat appointment.  In this case, you can send them a gentle reminder based on your appointment booking rules.  For example, maybe your rule is twenty (20) days after an appointment without any future appointments booked.</p> </td>
          <td width="25%"><p>Medium development</p> <p>3-4 hours</p></td>
        </tr>
        <tr>
          <td width="25%"> <strong>Automatically Subscribe Clients to E-mail Newsletters.</strong> </td>
          <td width="50%"> <p>Tracksy already adds clients to e-mail lists using Mail Chimp, but if you prefer another mail software service or want to create/add to a specific list, we can customise a solution that fits your needs.</p> </td>
          <td width="25%"><p>Easy development</p> <p>1-2 hours</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
