<div class="modal fade" id="modal-change-password">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header bg-gray-light">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Change password</h4>
      </div>
      <%= simple_form_for @user, url: app_account_settings_profile_update_password_path, method: 'PUT', remote: true, html: { novalidate: false } do |f| %>
        <div class="modal-body">
          <%= f.input :current_password, required: true %>
          <%= f.input :password, required: true %>
          <%= f.input :password_confirmation, required: true %>
          <p>
            <i>Password must include at least one lowercase letter, one uppercase letter, and one digit. Minimum by 8 characters.</i>
          </p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="button" data-dismiss="modal" class="btn btn-white">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
