<% content_for :title, 'Edit trigger category' %>

<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1>Edit trigger category</h1>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= settings_path %>"><i class="fa fa-cog"></i> Settings</a>
    </li>
    <li>
      <a href="<%= settings_trigger_categories_path %>">Trigger categories</a>
    </li>
    <li class="active">Edit trigger category</li>
  </ul>
</section>

<section class="content">
  <div class="col-md-6 col-xs-12">
    <div class="box">
      <%= render 'form', trigger_category: @trigger_category %>
    </div>
  </div>

</section>
