<script id="pagination-tmpl" type="text/template">
  <nav :class="[navClass]" class="app-pagination">
    <ul class="pagination justify-content-center" :class="[ulClass]">
        <li v-if="showPrevious()" :class="[liClass, { 'disabled' : currentPage <= 1 }]" class="page-item">
            <a class="page-link" href="#" v-if="currentPage <= 1">
                <span aria-hidden="true">{{ config.previousText }}</span>
            </a>
            <a class="page-link" href="#" v-if="currentPage > 1 " :aria-label="config.ariaPrevious" @click.prevent="changePage(currentPage - 1)">
                <span aria-hidden="true">{{ config.previousText }}</span>
            </a>
        </li>
        <li v-for="num in array" :class="[liClass, { 'active': num === currentPage }]" class="page-item">
            <a class="page-link" href="#" @click.prevent="changePage(num)">{{ num }}</a>
        </li>
        <li v-if="showNext()" :class="[liClass, { 'disabled' : currentPage === lastPage || lastPage === 0 }]" class="page-item">
            <a class="page-link" href="#" v-if="currentPage === lastPage || lastPage === 0">
                <span aria-hidden="true">{{ config.nextText }}</span>
            </a>
            <a class="page-link" href="#" v-if="currentPage < lastPage" :aria-label="config.ariaNext" @click.prevent="changePage(currentPage + 1)">
                <span aria-hidden="true">{{ config.nextText }}</span>
            </a>
        </li>
    </ul>
  </nav>
</script>
