<% content_for :body_class, 'login-page' %>
<div class="login-box">
  <div class="login-logo">
    <h2 class="mt-0">Tracksy</h2>
  </div>

  <div class="login-box-body">
    <%= form_tag admin_sessions_post_verify_2fa_path, method: 'POST' do |f| %>
      <div class="form-group">
        <label>Enter the code sent to your number:</label>
        <input type="text" placeholder=""
          class="form-control" name="code" required="true"
          autofocus="true">
        <a href="#" class="btn-form"
          data-form-url="<%= admin_sessions_resend_verify_2fa_code_path %>"
          data-form-confirmation="Are you sure?"
          data-form-method="POST"
          >Resend verification code</a>
      </div>

      <div class="text-right">
        <a href="<%= new_admin_user_session_path %>">Login</a><br>
      </div>

      <div class="row">
        <div class="col-md-12">
          <a href="<%= new_admin_user_session_path %>" class="btn linebtn">Back</a>
          <button type="submit" class="btn sitebtn">Submit</button>
        </div>
      </div>
    <% end %>

  </div>
</div>
