<!DOCTYPE html>
<html>
  <body>
    Hi,
    <br>
    <br>
    <%= simple_format @message %>
    <br>
    Kind regards,
    <br>
    <%= @business.name %>
    <br>
    <%= @business.phone %>
  </body>
</html>
