<% content_for :title, 'Dashboard' %>
<% content_for :body_class, 'dashboard-page' %>

<section class="content-header clearfix">
  <div class="col-md-6 col-xs-6">
    <h1 class="text-uppercase"><strong>Dashboard</strong></h1>
  </div>
</section>

<section class="content">
  <div class="box">
    <p>Not implemented</p>
  </div>
</section>
