commands:
    1_install_dependencies:
        command: dnf install -y fontconfig libXrender libXext xorg-x11-fonts-Type1 xorg-x11-fonts-75dpi freetype libpng zlib libjpeg-turbo openssl icu libicu
        ignoreErrors: true
    2_download_wkhtmltopdf:
        command: |
            cd /tmp
            if [ "$(uname -m)" = "aarch64" ]; then
                wget https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6.1-3/wkhtmltox-0.12.6.1-3.almalinux9.aarch64.rpm
            else
                wget https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6.1-3/wkhtmltox-0.12.6.1-3.almalinux9.x86_64.rpm
            fi
        ignoreErrors: true
    3_install_wkhtmltopdf:
        command: dnf install -y /tmp/wkhtmltox-0.12.6.1-3.almalinux9.$(uname -m).rpm
        ignoreErrors: true
    4_cleanup:
        command: rm -f /tmp/wkhtmltox-0.12.6.1-3.almalinux9.*.rpm
        ignoreErrors: true