<% content_for :title, 'Add tag' %>

<section class="box-header">
  <h1>Add tag</h1>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= settings_path %>"><i class="fa fa-cog"></i> Settings</a>
    </li>
    <li><a href="<%= settings_tags_path %>">Tags</a></li>
    <li class="active">Add</li>
  </ul>
</section>

<section class="content">
  <%= render 'form', object: @tag %>
</section>
