<div class="modal fade" id="modal-edit-outcome-measure-test">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit test record</h4>
      </div>
      <%= simple_form_for outcome_measure_test, url: update_test_patient_outcome_measure_path(patient, outcome_measure), method: 'PUT', html: { novalidate: false }, remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Result</label>
            <div class="input-group">
              <%= f.input_field :result, class: 'form-control', required: true, value: outcome_measure_test.result_formatted %>
              <span class="input-group-addon"><%= outcome_measure.outcome_measure_type.unit %></span>
            </div>
          </div>
          <%= f.input :date_performed, as: :string, input_html: { class: 'input-date-performed', value: outcome_measure_test.date_performed.strftime('%d %b %Y') } %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn linebtn" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn sitebtn">Update record</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
