<%= render 'patients/show_layout' do %>
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-title">New outcome measure</h4>
    </div>
  </div>

  <section class="content">
    <%= render 'form', outcome_measure: @outcome_measure, patient: @patient %>
  </section>
<% end %>
