<section class="box-header">
  <h1>Admin / Editing Tag</h1>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= admin_settings_path %>"><i class="fa fa-cog"></i> Admin Settings</a>
    </li>
    <li>
      <a href="<%= admin_tags_path %>">Tags</a>
    </li>
    <li><%= @tag.name %></li>
  </ul>
</section>

<section class="content">
  <%= render 'form', tag: @tag %>
</section>



