<script id="js-create-invoice-tmpl" type="text/template">

  <div class="row">
    <div class="col-xs-12" :class="{'col-md-9': isShowingClientSideBox, 'col-md-12': !isShowingClientSideBox }">
      <div class="panel panel-default">

        <div class="panel-body">

          <div v-if="selectedTask" class="row">
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <label>Invoice for task:</label>
                <div class="height-auto form-control bg-gray-light">
                  <strong>{{ selectedTask.name }}</strong> <a :href="'/app/tasks/' + selectedTask.id" title="More details" data-remote="true"><i class="fa fa-external-link"></i></a>
                  <div class="text-smaller mt-5" v-if="selectedTask.description">{{ selectedTask.description }}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6">
              <label>Client: </label>
              <div class="form-group">
                <div v-if="selectedPatient" class="form-control form-control-static height-auto-sm">
                  <span class="pull-right"><a href="#" @click.prevent="onClickDeselectPatient" class="text-muted pa-5 npr">×</a></span>
                  <span>{{ selectedPatient.full_name }} ({{ selectedPatient.dob | dob }})</span>
                </div>

                <v-multiselect
                  v-show="!selectedPatient"
                  v-model="selectedPatient"
                  :options="patientOptions"
                  :multiple="false"
                  :close-on-select="true"
                  :options-limit="10"
                  :searchable="true"
                  :hide-selected="true"
                  :loading="isSearchingPatients"
                  :internal-search="false"
                  :clear-on-select="true"
                  placeholder="Search client"
                  open-direction="bottom"
                  track-by="id"
                  @search-change="onSearchPatientChanged"
                  select-label=""
                  selected-Label=""
                  deselect-label=""
                  :custom-label="customSelectedPatientLabel"
                  @input="onPatientChanged">

                  <template slot="noResult" v-hide="isSearchingPatients">
                    <span>No client match!</span>
                  </template>

                  <template slot="option" scope="props">
                    <div class="desc">
                      <span class="text-bolder" v-html="$options.filters.highlight(props.option.full_name, props.search)"></span>
                      <small v-if="props.option.dob">{{ props.option.dob | dob }}</small>
                      <a :href="'/app/patients/' + props.option.id" target="_blank" title="View details"><i class="fa fa-external-link"></i></a>
                      <div class="pl-5 small">
                        <span>ID: {{ props.option.id }}</span><br>
                        <span>{{ props.option | formattedLocalAddress }}</span>
                      </div>
                    </div>
                  </template>
                </v-multiselect>
              </div>

              <div class="form-group">
                <label>Appointment: </label>
                <!-- <div v-if="selectedAppointment" class="form-control form-control-static">
                  <span class="pull-right"><a href="#" @click.prevent="onClickDeselectAppointment" class="text-danger">×</a></span>
                  <span>{{ selectedAppointment.start_time | shortDate }}</span> - <span>{{ selectedAppointment.appointment_type.name }}</span>
                </div> -->

                <v-multiselect
                  v-model="selectedAppointment"
                  :options="allPatientAppointments"
                  :multiple="false"
                  :disabled="!selectedPatient"
                  :close-on-select="true"
                  :options-limit="100"
                  :searchable="false"
                  :clear-on-select="true"
                  placeholder="-- Select one --"
                  open-direction="bottom"
                  track-by="id"
                  select-label=""
                  deselect-label="Deselect"
                  :custom-label="customSelectedAppointmentLabel"
                  @input="onAppointmentChanged"
                  >

                <template slot="beforeList" v-if="allPatientAppointments.length == 0">
                  <div class="pa-5 text-muted">There is no appointment to select</div>
                </template>

                  <template slot="option" scope="props">
                    <div class="desc">
                      <span class="text-bolder">{{ props.option.start_time | shortDate }}</span>
                      <a :href="'/app/appointments/' + props.option.id" target="_blank"><i class="fa fa-external-link"></i></a>
                      <div class="pl-5 small">
                        <span>ID: {{ props.option.id }}</span>
                        <br>
                        <span>Type: {{ props.option.appointment_type.name }} ({{ props.option.appointment_type.duration }}m)</span>
                        <br>
                        <span>Time: {{ props.option.start_time | hour }} - {{ props.option.end_time | hourz }}</span>
                        <br>
                        <span>Practitioner: {{ props.option.practitioner.full_name }}</span>
                      </div>
                    </div>
                  </template>
                </v-multiselect>
              </div>


              <div class="form-group">
                <label>Case: </label>

                <v-multiselect
                  v-model="selectedCase"
                  :options="allPatientCases"
                  :multiple="false"
                  :disabled="!selectedPatient"
                  :close-on-select="true"
                  :options-limit="100"
                  :searchable="false"
                  :clear-on-select="true"
                  placeholder="-- Select one --"
                  open-direction="bottom"
                  track-by="id"
                  select-label=""
                  deselect-label="Deselect"
                  :custom-label="customSelectedCaseLabel"
                  >
                  <template slot="beforeList" v-if="allPatientCases.length == 0">
                    <div class="pa-5 text-muted">There is no cases to select</div>
                  </template>

                  <template slot="option" scope="props">
                    <div class="desc">
                      <span class="text-bolder">{{ props.option.case_number }}</span> <span v-if="props.option.archived_at" class="label label-default">ARCHIVED</span>
                      <a :href="'/app/patients/' + selectedPatient.id + '/cases/' + props.option.id" target="_blank"><i class="fa fa-external-link"></i></a>
                      <div class="small pl-5">
                        <span style="width: 60px; display: inline-block;">Status:</span> {{ props.option.status }}
                        <br>
                        <span style="width: 60px; display: inline-block;">
                          Invoiced appointments: {{ props.option.issued_invoices_count }} / <span v-if="props.option.invoice_number">{{ props.option.invoice_number }}</span><span v-if="!props.option.invoice_number" class="text-muted" title="Not limited">--</span>
                        </span>
                        <br>
                        <span style="width: 60px; display: inline-block;">
                          Invoiced amount total: ${{ props.option.issued_invoices_amount }} / <span v-if="props.option.invoice_total">${{ props.option.invoice_total }}</span><span v-if="!props.option.invoice_total" class="text-muted" title="Not limited">--</span>
                        </span>
                        <br>
                        <span style="width: 60px; display: inline-block;">Created:</span> {{ props.option.created_at | shortDate }}
                      </div>

                    </div>
                  </template>
                </v-multiselect>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="">Issue date:</label>
                <div class="form-control form-control-static bg-gray-light">{{ invoice.issue_date }}</div>
              </div>

              <div class="form-group">
                <label>Invoice to contact: </label>
                <!-- <div v-if="selectedContact" class="form-control form-control-static">
                  <span class="pull-right"><a href="#" @click.prevent="onClickDeselectContact" class="text-muted">×</a></span>
                  <span>{{ selectedContact.business_name }}</span>
                </div> -->

                <v-multiselect
                  v-model="selectedContact"
                  :options="contactOptions"
                  :multiple="false"
                  :close-on-select="true"
                  :options-limit="10"
                  :searchable="true"
                  :hide-selected="true"
                  :loading="isSearchingContacts"
                  :internal-search="false"
                  :clear-on-select="true"
                  placeholder="-- Select one --"
                  open-direction="bottom"
                  track-by="id"
                  @search-change="onSearchContactChanged"
                  select-label=""
                  deselect-label="Deselect"
                  :custom-label="customSelectedContactLabel"
                  @input="onContactChanged"
                  @close="onClosedContactSelect"
                  >

                  <template slot="noResult" v-hide="isSearchingContacts">
                    <span>No contact match!</span>
                  </template>

                  <template slot="option" scope="props">
                    <div class="desc">
                      <span class="text-bolder" v-html="$options.filters.highlight(props.option.business_name, props.search)"></span>
                      <div class="small pl-5">
                        <span>{{ props.option | formattedLocalAddress }}</span>
                      </div>
                    </div>
                  </template>
                </v-multiselect>
              </div>

            </div>
          </div>

          <hr>

          <div class="table-invoice-items-wrap">
            <table class="table table-bordered mb-0 table-invoice-items">
              <thead class="bg-gray-light">
                <tr>
                  <th style="min-width: 450px">Item</th>
                  <th style="width: 150px">Quantity</th>
                  <th style="width: 150px">Unit price</th>
                  <th style="width: 150px">Tax</th>
                  <th style="width: 150px">Total</th>
                  <th style="width: 50px"></th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="(item, itemIdx) in invoiceItems" :key="itemIdx">
                  <td>
                    <div v-if="item.invoiceable_type == 'BillableItem'">
                      <v-multiselect
                        v-model="item.invoiceable"
                        :options="allBillableItems"
                        :multiple="false"
                        :close-on-select="true"
                        :options-limit="100"
                        :searchable="true"
                        label="name"
                        :clear-on-select="true"
                        placeholder="Select billable item"
                        track-by="id"
                        select-label=""
                        deselect-label="Deselect"
                        :custom-label="customSelectedBillableItemLabel"
                        @input="onSelectedBillalbleItem(item)"
                        >

                        <template slot="noResult">
                          <span>No billable item match!</span>
                        </template>

                        <template slot="option" scope="props">
                          <div class="desc">
                            <span class="text-bolder" v-html="$options.filters.highlight(props.option.name, props.search)"></span>
                            <small>[{{ props.option.item_number }}]</small>
                          </div>
                        </template>
                      </v-multiselect>
                    </div>

                    <div v-if="item.invoiceable_type == 'Product'">
                      <v-multiselect
                        v-model="item.invoiceable"
                        :options="allProducts"
                        :multiple="false"
                        :close-on-select="true"
                        :options-limit="100"
                        :searchable="true"
                        label="name"
                        :clear-on-select="true"
                        placeholder="Select product"
                        open-direction="bottom"
                        track-by="id"
                        select-label=""
                        deselect-label="Deselect"
                        :custom-label="customSelectedProductLabel"
                        @input="onSelectedProduct(item)"
                        >

                        <template slot="noResult">
                          <span>No product match!</span>
                        </template>

                        <template slot="option" scope="props">
                          <div class="desc">
                            <span class="text-bolder" v-html="$options.filters.highlight(props.option.name, props.search)"></span>
                            <small>[{{ props.option.item_code }}]</small>
                          </div>
                        </template>
                      </v-multiselect>
                    </div>
                  </td>

                  <td>
                    <input type="text" class="form-control" min="0" max="1000" v-model.number="item.quantity" @change="calculateInvoice">
                  </td>

                  <td>
                    <input type="text" class="form-control" max="1000000" v-model.number="item.unit_price" @change="calculateInvoice">
                  </td>

                  <td>
                    <span v-if="item.tax_name && item.tax_rate">
                      {{ item.tax_name }} {{ item.tax_rate }}%
                    </span>
                  </td>

                  <td>
                    <span v-if="item.amount">
                      ${{ item.amount | round(2) }}
                    </span>
                  </td>

                  <td class="text-center">
                    <a href="#" class="btn btn-white" @click.prevent="onClickRemoveInvoiceItem(itemIdx)"><i class="fa fa-trash text-danger"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="mt-10">
            <button class="btn btn-sm btn-white" @click.prevent="onClickAddBillableItem"><i class="fa fa-plus"></i> Add billable item</button>
            <button class="btn btn-sm btn-white" @click.prevent="onClickAddProduct"><i class="fa fa-plus"></i> Add product</button>
          </div>

          <hr>

          <div class="row mt-20">

            <div class="col-sm-12 col-lg-5 col-lg-push-7">
              <div class="bordered pa-10 rounded-3 bg-gray-light">
                <table class="table table-borderless mb-0">
                  <tbody>
                    <tr>
                      <td>Subtotal:</td>
                      <td>${{ invoice.subtotal_amount | round(2) }}</td>
                    </tr>

                    <tr>
                      <td>Tax:</td>
                      <td>${{ invoice.tax_amount | round(2) }}</td>
                    </tr>

                    <tr>
                      <td colspan="2"><hr class="mt-0 mb-0"></td>
                    </tr>

                    <tr>
                      <td>
                        <h3 class="mt-0 mb-0">TOTAL:</h3>
                      </td>
                      <td>
                        <h3 class="mt-0 mb-0">${{ invoice.total_amount | round(2) }}</h3>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="col-sm-12 col-lg-7 col-lg-pull-5">
              <hr class="visible-xs">
              <label>Message:</label>
              <textarea v-model="invoice.message" rows="5" class="form-control" maxlength="500" placeholder="Add custom message to the invoice"></textarea>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <span class="text-warning">Notes</span>
            </div>
            <div class="panel-body">
              <textarea v-model="invoice.notes" rows="3" class="form-control" placeholder="Notes for internal use"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-bottom: 70px">
          <div class="form-group" v-show="selectedPatient">
            <div class="check-box">
              <input type="checkbox" id="cb-send-after-create" v-model="isSendAfterCreate" @change="onChangeSendAfterCreate">
              <label for="cb-send-after-create">Send invoice email after create</label>
            </div>
          </div>

          <div class="btn-group">
            <button class="btn btn-primary" type="button" @click.prevent="onClickSubmitInvoice" :disabled="busy || !selectedPatient">Create invoice</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" :disabled="busy || !selectedPatient"><span class="caret"></span></button>
            <ul class="dropdown-menu custom-dropdown">
              <li>
                <a href="#" @click.prevent="onClickSubmitInvoice('add_payment')">Create & add payment</a>
              </li>
              <li>
                <a href="#" @click.prevent="onClickSubmitInvoice('add_another')">Create & add another</a>
              </li>
            </ul>
          </div>

          <a href="/app/invoices" class="btn btn-white">Cancel</a>
      </div>
    </div>

    <div class="col-xs-12" :class="{'col-md-3': isShowingClientSideBox, 'hide': !isShowingClientSideBox }">

      <div class="panel panel-default" v-if="selectedPatient">
        <div class="panel-heading"><strong>Client summary</strong></div>
        <div class="panel-body">
            <strong>{{ selectedPatient.full_name }}</strong> <a :href="'/app/patients/' + selectedPatient.id" target="_blank" title="View client details"><i class="fa fa-external-link"></i></a>

            <div class="small pa-5 mt-5 mb-5" title="Important notification" style="color: #a94442; background-color: #fcf8e3; border-color: #faebcc;" v-if="selectedPatient.important_notification">
              {{ selectedPatient.important_notification }}
            </div>

            <div class="small">
              ID: {{ selectedPatient.id }} <br>
              DOB: {{ selectedPatient.dob | dob }} <br>
              Mobile: {{ selectedPatient.mobile | naIfEmpty('--') }} <br>
              Addr: {{ selectedPatient | formattedLocalAddress }} <br>

              <div v-if="patientInvoiceToContacts.length > 0">
                <hr class="mt-5 mb-5">
                <span>Invoice to: </span>
                <span v-for="contact in patientInvoiceToContacts" :key="contact.id">
                  <strong>{{ contact.business_name }}</strong>
                </span>
              </div>

              <div v-if="patientPaymentMethods.credit_card">
                <hr class="mt-5 mb-5">
                <span>Credit card added <span class="text-green"><i class="fa fa-check"></i></span> </span>
              </div>

            </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><strong>Open cases</strong></div>
        <div class="panel-body">
          <div v-for="kase in patientOpenCases" :key="kase.id" class="mb-10">
            <strong>{{ kase.case_number }}</strong> <a :href="'/app/patients/' + selectedPatient.id + '/cases/' + kase.id" target="_blank" title="View details"><i class="fa fa-external-link"></i></a>

            <div class="small">
              <span>
                Invoiced appointments: {{ kase.issued_invoices_count }} / <span v-if="kase.invoice_number">{{ kase.invoice_number }}</span><span v-if="!kase.invoice_number" class="text-muted" title="Not limited">--</span>
              </span>
              <br>
              <span>
                Invoiced amount total: ${{ kase.issued_invoices_amount }} / <span v-if="kase.invoice_total">${{ kase.invoice_total }}</span><span v-if="!kase.invoice_total" class="text-muted" title="Not limited">--</span>
              </span>
              <br>
              <span>Created:</span> {{ kase.created_at | shortDate }}
            </div>

          </div>

          <div v-if="patientOpenCases.length === 0">
            <span class="text-muted">No open cases</span>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><strong>Recent invoices</strong></div>
        <div class="panel-body">
          <div v-for="invoice in patientRecentInvoices" class="mb-5" :key="invoice.id">
            <strong>{{ invoice.invoice_number }}</strong> <span class="text-smaller ml-5">{{ invoice.issue_date | shortDate }}</span> <a :href="'/app/invoices/' + invoice.id" target="_blank" title="View details"><i class="fa fa-external-link"></i></a>
            <div class="small">
              Amount: ${{ invoice.amount }} <span v-if="invoice.outstanding == 0" class="text-green text-smaller">PAID</span></span>
            </div>
          </div>

          <div v-if="patientRecentInvoices.length === 0">
            <span class="text-muted">No recent invoices</span>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upcoming appointments</strong></div>
        <div class="panel-body">
          <div v-for="appt in firstThreeUpcomingAppointments" class="mb-5" :key="appt.id">
            <strong>{{ appt.start_time | shortDate }}</strong> <a :href="'/app/appointments/' + appt.id" target="_blank" title="View details"><i class="fa fa-external-link"></i></a>
            <div class="small pl-3">
              <span>{{ appt.appointment_type.name }}</span>
            </div>
          </div>

          <div v-if="patientUpcomingAppointments.length === 0">
            <span class="text-muted">No upcoming appointments</span>
          </div>
        </div>
      </div>

    </div>
  </div>

</script>