.loading {
  position: relative;

  .loading-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #fdfdfd;
    opacity: 0.7;
  }

  .loading-indicator {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #44B654;
    z-index: 1001;
  }
}

