
.tiptap-content {
    p:not(:first-child) {
        line-height: 1.6;
        margin-top: 10px;
    }

    [contenteditable="false"] {
        white-space: normal;
    }

    ul {
        padding-left: 1.5em;
    }

    ul[data-type=taskList], ul[data-type=multipleChoice] {
        padding-left: .25em;

        li:not(:has(>p:first-child)) {
            list-style-type: none;
        }

        li {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            p {
                margin: 0;
            }
        }

        li label {
            position: relative;
            margin-bottom: 0;
            padding-right: .5rem;
        }

        li label span {
            width: 1em;
            height: 1em;
            position: relative;
            cursor: pointer;
        }
    }

    [data-type="yesNo"] {
        display: flex;
        gap: 1rem;

        label {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            cursor: pointer;
            margin-bottom: 0;

            span:first-child {
                display: flex;
                align-items: center;
            }

            input[type="radio"] {
                margin: 0;
                cursor: pointer;
            }

            span:last-child {
                font-weight: 500;
            }
        }
    }

    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,  th {
            border: 1px solid #ddd;
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top
        }

        td>* , th>* {
            margin-bottom: 0
        }

        th {
            background-color: #ddd;
            font-weight: 600;
            text-align: left
        }
    }

}
