<% content_for :page_additional_html do %>
  <%= render 'shared/app_templates' %>
<% end %>
<div class="dash_app view_container" id="admin-calendar">
  <section class="box-header">
    <div class="row">
      <div class="col-xs-6">
        <h1>Manage Calendar</h1>
      </div>

      <div class="text-right col-xs-6">
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li v-if="business">
              <a href="#" @click="appointmentAdd"><i class="fa fa-plus"></i> New appointment</a>
            </li>
            <li v-if="business">
              <a href="#" @click="repeatAppointmentAdd"><i class="fa fa-list"></i> Repeat Appointment</a>
            </li>
            <li>
              <a href="/admin/reception/search-appointment"><i class="fa fa-search"></i> Search Appointment</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <h4>This page is no longer available due to the single business calendar component has lots of change</h4>
  </section>
</div>

