Hi <%= @author.first_name %>,
<br>
<br>
The proof of attendance export is ready to download.
<br>
Please view export details to find the link to download:
<a href="<%= reports_attendance_proof_export_url(@export.id) %>">View export details</a>
<br>
<br>
