<div class="col-md-6">
  <%= simple_form_for [:settings, @shortcut], url: @shortcut.new_record? ? settings_invoice_diagnoses_path  : settings_invoice_diagnosis_path(@shortcut) do |f| %>
    <div class="box">
      <%= f.input :content %>
    </div>
    <div class="text-center">
      <button class="btn sitebtn"><%= @shortcut.new_record? ? "Create" : "Update" %></button>
    </div>
  <% end %>
</div>
