<section class="box-header">
  <h1>Invoice Diagnose</h1>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= settings_path %>"><i class="fa fa-cog"></i> Settings</a>
    </li>
    <li>
      <a href="<%= settings_invoice_diagnoses_path %>">Invoice diagnosis</a>
    </li>
    <li class="active">New</li>
  </ul>
</section>

<section class="content">
  <%= render 'form' %>
</section>
