<style>
  .report_blocks {
    min-height: 300px;
  }
</style>
<section class="box-header">
  <h1>Reports</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="report_blocks">
        <p class="lead pl-20 pt-10">Appointments</p>
        <ul>
          <li>
            <a href="#">Appointments schedule</a>
          </li>
          <li>
            <a href="#">Appointments summary</a>
          </li>
          <li>
            <a href="#">Performance</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="report_blocks">
        <p class="lead pl-20 pt-10">Clients</p>
        <ul>
          <li>
            <a href="#">New clients</a>
          </li>
          <li>
            <a href="#">Booked online</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="report_blocks">
        <p class="lead pl-20 pt-10">Transactions</p>
        <ul>
          <li>
            <a href="#">Invoices raised</a>
          </li>
          <li>
            <a href="#">Payment summary</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
