<div class="cell-lg-12 offest-top-3">
<div class="subscription_pricing_plan clearfix">
  <p style="text-align: right; padding: 5px">
    <small>Prices are in Australian dollars (AUD). Prices exclude GST.</small>
  </p>
 <h1 class="text-center free_txt"> <%= App::SUBSCRIPTION_TRIAL_DAYS %> day FREE trial with all plans! </h1>
  <div class="col-md-7">
    <div class="pull-right float-none-xs hexagon">
        <div class="standered_circle">
          <div class="circle_text"> $0.50 <span> Per Appointment</span> </div>
        </div>
  <p class="dollar_sms_txt"> <strong> $0.15 </strong>  <span>SMS </span>  </p>
      <ul class="plan_list">
          <li> Unlimited staff/users </li>
          <li> Unlimited appointments </li>
          <li>  Payment integration</li>
          <li> Hidden pracitioners profile</li>
      </ul>
      <p class="text-center mt-15"> (<%= App::SUBSCRIPTION_TRIAL_DAYS %> day free trial) </p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
</div>
