<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="box">
      <%= simple_form_for tax, url: tax.new_record? ? taxes_path : tax_path(tax) do |f| %>
        <%= f.input :name, placeholder: 'Tax name, e.g. GST' %>
        <%= f.input :rate, placeholder: 'tax percent, e.g. 10' %>
        <hr>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="<%= taxes_path %>" class="btn btn-white">Cancel</a>
      <% end %>
    </div>
  </div>
</div>
