<% content_for :title, 'Add tax' %>

<section class="box-header">
  <div class="col-md-6 col-xs-6">
    <h1>
      Add tax
    </h1>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= settings_path %>"><i class="fa fa-cog"></i> Settings</a></li>
    <li>
      <a href="<%= taxes_path %>">Taxes</a>
    </li>
    <li class="active">Add</li>
  </ul>
</section>

<section class="content">
  <%= render "form", tax: @tax %>
</section>
