<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    Dear <%= @patient.full_name %>,
    <br>
    <p>Please find attached Account Statement</p>
    Kind regards,
    <br>
    <br>
    <%= @business.name %>
    <br>
    <%= @business.phone %>
  </body>
</html>
