<section class="sptb">
  <div class="container">
    <div class="card">
      <div class="card-header pt-5 pb-5">
        <h2 class="mt-0">Tracksy</h2>
      </div>

      <div class="card-body">
        <h3 class="text-primary">Thank you. Your review has been successfully submitted.</h3>
      </div>

      <div class="card-footer">
        <a href="<%= frontend_home_path %>" class="btn btn-light">Back to homepage</a>
      </div>
    </div>

  </div>
</section>
