Hi,
<br>
<br>
Thanks for trailing with Tracksy. There are just <b><%= @remaining_trial_days %></b> days left in your free trial.
<br>
<br>
Please check your billing information in <a href="<%= settings_subscriptions_url %>">Subscription settings</a>
<br>
<br>
If you do have any questions, feel free to contact us at <a href="mailto:info@example.com">info@example.com</a>
<br>
<br>
Regards